.searchInput {
  align-items: center;
}

.loading {
  color: #000;
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
}
.error {
  color: red;
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
}
